.active {
    --background-color: var(--primary-focus);
}

.copyBtn {
    position: absolute;
    right: 0;
    width: auto;
}

.codeBlock {
    position: relative;
}

summary {
    text-transform: capitalize;
}

.alert-danger {
    padding: var(--form-element-spacing-vertical)
        var(--form-element-spacing-horizontal);
    border-radius: var(--border-radius);
    border: 1px solid var(--background-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(198, 40, 40, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
    background-position: center left var(--form-element-spacing-vertical);
    background-color: #ffebee;
    padding-left: calc(
        var(--form-element-spacing-vertical) * 2 + calc(var(--font-size) * 1.5)
    );
    color: #b71c1c;
}
